.logo {
    height: 100px;
}

.blackborder {
    border: 1px solid grey;
}

table.numbertable {
    border-collapse: collapse;
}

td.fixedcell {
    width: 2em;
    height: 1em;
}

pre {
    padding: 0px;
    margin: 0px;
}

body {
    width: 40em;
  margin: 50px auto 100px auto;
  background-color: lightblue;
}

@media (max-aspect-ratio: 1/1) {
    /* used for mobile or skinny displays */
    body {
        width: auto;
        margin: 50px 1em 100px 1em;
        background-color: lightblue;
    }
}

a {
  color: darkblue;
}

input {
    background-color: white;
}

/*p, ul {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px;
}*/

ul {
  margin: 7px auto 10px auto;
}
canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}

.nobottommargins {
    margin-bottom: 0;
    padding-bottom: 0; 
}

.nomargins {
    margin: 0;
    padding: 0;
}

/* https://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link */
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding: 2px;
    display: inline;
}

/* this hack is genius */
textarea {
    background: url(/images/linenums.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 11px;
    border-color: #ccc;
    background-color: white;
    line-height: 16px;
}
