BODY { font-family: Verdana, Helvetica, Arial, sans-serif; font-color: #000000; font-size: 12px } 
P { font-size: 12px; font-color: #000000; font-family: Verdana, Helvetica, Arial, sans-serif }
P.italic { font-style: italic }
P.smaller { font-size: 11px; color: #000000; font-family: Verdana, Helvetica, Arial, sans-serif }
P.eensy { color: black; font-size: 10px }
P.eensybold { color: black; font-size: 10px; font-weight: bold }
P.bottom { color: white; font-size: 12px; font-family: Helvetica, Arial, sans-serif }
P.header { font-size: 20px; font-weight: bold; line-height: 20px }
P.subheader { font-size: 12px; font-weight: bold; line-height: 14px }
P.search { font-size: 12px; font-family: Verdana, Helvetica, Arial, sans-serif; color: #FFFF50 }
A:link { color: black; font-family: Verdana, Helvetica, Arial, sans-serif; text-decoration: none }
A:active { color: black; font-family: Verdana, Helvetica, Arial, sans-serif; text-decoration: none }
A:visited { color: black; font-family: Verdana, Helvetica, Arial, sans-serif; text-decoration: none }
A.toc:link { color: black; font-family: Verdana, Helvetica, Arial, sans-serif; text-decoration: none }
A.toc:active { color: black; font-family: Verdana, Helvetica, Arial, sans-serif; text-decoration: none }
A.toc:visited { color: black; font-family: Verdana, Helvetica, Arial, sans-serif; text-decoration: none }
A.bottom:link { color: white; text-decoration: none }
A.bottom:active { color: white; text-decoration: none }
A.bottom:visited { color: white; text-decoration: none }


/* Image styles */
img.block { display: block; }